/* "General" configs */

/* #region General Configs*/
body {
    font-family: "Roboto", sans-serif;
}

body p {
    color: #262626
}

ion-icon {
    font-size: 22px;
    margin: 0 10px;
    /* background-color: blue; */
}

.vl {
    height: 22px;
    border-left: 1px solid #dbdbdb
}

.initial_icon {
    margin-left: 0px;
    /* background-color: red; */
}

.last_icon {
    margin-right: 0px;
}

/* #endregion */

/* "Top" configs */

/* #region Top Configuration */

.top {
    background-color: #ffffff;
    /* background-color: orange; */
    width: 100%;
    display: flex;
    justify-content: center;
    height: 54px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.top-menu_box {
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 907px;
}

.top-instagram {
    display: flex;
    align-items: center;
    /* background-color: green; */
}

.top-instagram img {
    margin-left: 10px;
}

.general_icon_top {
    height: 22px;
    width: 22px;
    margin: 0 10px;
}

.top-search {
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.top-search img {
    width: 215px;
    height: 28px;
}

.search_text {
    color: #979797;
    /* background-color: yellowgreen; */
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    /* left:50%; */
}

/*#endregion*/

/* "Content" Configs */

/* #region */

.content {
    margin-top: 54px;
    background-color: #fafafa;
    /* background-color: skyblue; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-left {
    margin-top: 34px;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    width: 614px;
}

.left-stories_menu {
    background-color: rgb(255, 255, 255);
    /* background-color: yellow; */
    display: flex;
    height: 118px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 614px;
    position: relative;
}

.stories_menu-story_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 14px;
    width: 66px;
    /* background-color: orange; */
}

.initial_story {
    margin-left: 17px;
}


.story_border {
    height: 66px;
    width: 66px;
    /* background-color: blue;     */
}

.story_icon {
    height: 56px;
    width: 56px;
    position: absolute;
    bottom: 37px;
    left: 5.5px;
}

.stories_menu-story_box p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
}

.stories_chevron {
    height: 32px;
    width: 32px;
    position: absolute;
    right: 5px;
    top: 45px;
}

.left-main_menu {
    /* background-color: aquamarine; */
    margin-top: 24px;
}

.main_menu-post {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    margin-bottom: 60px;
    border-radius: 3px;
    /* background-color: gold; */
}

.post-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    /* background-color: pink; */
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    margin-top: 15px;
    /* background-color: grey; */
}

.header-left img {
    width: 32px;
    margin-left: 17px;
    margin-right: 15px;
}

.header-left p {
    font-size: 14px;
    font-weight: 500;
}

.header-right {
    /* background-color: grey; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right ion-icon {
    font-size: 16px;
}

.header-right-icon {
    margin: 0 17px;

}

.post-bottom {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.bottom-icon_menu {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    /* background-color: fuchsia; */
}

.post_icon {
    margin-left: 15px;
    margin-right: 0px;
    /* background-color: yellow; */
}

.bottom-likes {
    display: flex;
    /* background-color: darkkhaki; */
    margin-top: 10px;
    margin-bottom: 14px;
    align-items: center;
}

.like_img {
    margin-left: 17px;
    margin-right: 5px;
}

.bottom-likes p {
    font-size: 14px;
}

.normal_text {
    font-weight: 400;
}

.bold_text {
    font-weight: 500;
}

.content-recommend {
    width: 293px;
    background-color: #fafafa;
    /* background-color: red; */
    /* opacity: 0.5; */
    margin-top: 34px;
    z-index: 1;
}

.recommend-main {
    display: flex;
    /* background-color: navy; */
    margin-top: 23px;
    margin-left: 29px;
    align-items: center;
}

.recommend-main img {
    width: 56px;
    height: 56px;
}

.main-name {
    margin-left: 17px;
}

.light_text {
    font-weight: 300;
    color: #8e8e8e
}

.recommend-main p {
    font-size: 14px;
}

.recommend-sugg_title {
    display:flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 17px;
    margin-left: 29px;
}

.grey_text {
    color: #8e8e8e
}

.recommend-suggestions {
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    margin-left: 29px;
}

.suggestions-sugg_box {
    display:flex;
    justify-content: space-between;
    /* background-color: blue; */
    margin-bottom:16px;

}

.sugg {
    display: flex;
    /* background-color: yellow; */
    align-items: center;
}

.sugg-pic img {
    height: 32px;
    width: 32px;
}

.sugg-name {
    margin-left: 11px;
}

.sugg_title {
    margin-bottom:6px;
}


.text_sugg_box {
    color:#139EF2;
    font-size:12px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
}

.small_text {
    font-size: 12px;
}

.big_text {
    font-size: 14px;
}


/* #endregion */